/* MAIN CONTENT PÅ SIDEN*/
/* IMAGE ØVERST MED SENTRERT TEKST*/
.front-image-exhib {
    background-image: url('/semesterimages/mammoth-1257288_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    min-height: 70vh;
}

.front-text-exhib {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    padding: 30px;
    background-color: rgba(255, 255, 255, .3);
}

/* fikse selve layout*/


/* bilder*/
.ex-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

h2 {
    text-align: center;
}

@media screen and (min-width: 1041px) {
    /*Få layout "sikkksakk" med bilder og tekst */
   .ex-img {
       width: 835px;
   }

    p {
       max-width:800px;
   }

    .ex {
       display: flex;
       flex: 50%;
   }

    section:nth-child(2){
        flex-direction: row-reverse;
    }

    section:nth-child(4){
        flex-direction: row-reverse;
    }
}