/* MAIN CONTENT PÅ SIDEN*/
/* IMAGE ØVERST MED SENTRERT TEKST*/
.front-image-getinvolved {
    background-image: url('/semesterimages/involved.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    min-height: 70vh;
}

.front-text-getinvolved {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    padding: 30px;
    background-color: rgba(255, 255, 255, .3);
}

h2 {
    text-align: center;
}

.getinvolved-part {
    flex: 100%;
    min-width: 400px;
    margin: 30px;
    background-color: #FFF;
}