body {
    background-color: #FFF;
}
/* MAIN CONTENT PÅ SIDEN*/
/* IMAGE ØVERST MED SENTRERT TEKST*/
/* body {
    max-width: 1280px;
    margin: 0 auto;
} */

.front-image-visit {
    background-image: url('/semesterimages/scott-webb-102825.jpg');
    background-size: cover;
    filter: brightness(50%);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    min-height: 30vh;
}

.front-text-visit {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: #FFF;
    background-color: black;
}

/* KART maks høyde*/
.map_container iframe {
    height: 300px;
  }

/* TEKST INNHOLD*/
h2 {
    text-align: center;
}

/* Flytte alt innhold til senter*/
.visit-section {
    display: grid;
    justify-content: center;
}

/* Sette en maks bredde på selve teksten*/
.visit-text {
    max-width: 400px;
}

/* Sentrere åpningstidene */
.hours {
    text-align: center;
}


  @media (min-width: 900px) {
  /* Tekst innhold responsivt:*/

  .visit-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
}

@media (min-width: 900px) {
.front-image-visit {
    background-image: url('/semesterimages/Untitled.jpg');
    background-size: cover;
    filter: brightness(50%);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    min-height: 50vh;
}
}

@media (min-width: 1041px) {
    .front-text-visit {
        top: 38%;
    }
}