/*SETTE FONTER */
h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

/*Sette bakgrunnsfarge for head og footer*/
header, footer {
    background-color: black;
    color: #FFF;
}

/* MAIN*/
body {
    background-color: #f3f2f4;
}

/* LOGO*/
.logo {
    font-family: 'Monoton', cursive;
    font-size: 1.4rem;
}

.logotext {
    display: grid;
    padding: 20px;
}

/* Meny */
header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    height: 85px;
}

nav {
    margin-left: 25px;
    display: none;
    position: fixed;
    top: 90px;
    background: black;
    z-index: 1000;
    right: 8px;
}

nav a {
    padding: 20px;
}

nav a:hover { /* Sette bakgrunnsfarge når musen er over elementer for mer brukervennlighet*/
    background-color: #52DB4D;
}

/* Fjerne underline på alle linker*/
a {
    text-decoration: none;
}

/* Hamburger meny for mobil versjon*/
#hamburger-menu {
    display: none;
    margin: 10px;

}

#hamburger-menu:checked ~ nav {
    display: block;
}

nav ul {
    padding: 0px;
}

nav li {
    display: block;
    padding: 20px 30px;
}

/* Sette underline på aktiv side*/
.action {
    text-decoration: underline;
}

header a {
    color: #FFF;
}

/* MAIN CONTENT PÅ SIDEN*/
/* IMAGE ØVERST MED SENTRERT TEKST*/
.front-image {
    background-image: url('/semesterimages/scientific-2040795_1280.jpg');
    background-size: cover;
    filter: brightness(50%);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    min-height: 30vh;
}

.front-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: #FFF;
    background-color: black;
}

h1, h3 {
    text-align: center;
}

.bodytext{
    margin: auto;
    padding: 10px;
    max-width: 968px;
}

/*Explore, exhibition og visit seksjon */
.content-header {
    text-align: center;
    clear:both;
}

.flexbox-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.explore-part,
.exhibition-part {
    flex: 100%;
    max-width: 400px;
    margin: 30px;
    background-color: #FFF;
}

.img {
    height: 300px;
    max-width: 400px;
    object-fit: cover;
}

.visit {
    padding: 40px;
    text-align: center;
}

.img-visit {
    height: 350px;
    width: 400px;
    object-fit: cover
}

/* Cta som ligger under hver seksjon */
.cta-main {
    margin-right: 200px;
    background-color: #52DB4D;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 10px; 
    min-width: 50px;
}

.cta-main:hover {
    background-color: black;
    color: #52DB4D;
}

.cta-main-float  {
    display: block;
    float: right;
    margin: 10px;
    text-align: center;
}

/* FOOTER :*/
footer {
    background-color: black;
    color: #FFF;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    min-height: 460px;
}

.museum-footer { /* Flytte all info og content til center*/
    justify-content: center;
    text-align: center;
}

.footer-contact { /* Få ikon og tekst ved siden av hverandre */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fa-envelope, .fa-phone-alt {
    font-size: 18px;
}

.footer-app {
    font-size: 30px;
}

.email-align {
    display: flex;
}

#email-footer {
    padding: 10px;
    font-size: 1em;
}

/* CTA- i footer:*/
.cta-footer {
    background-color: #52DB4D;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 10px; 
    grid-row: 2;
    min-width: 50px;
    margin-top: 0px;
}


.cta-footer:hover {
    background-color: rgba(255, 255, 255, .3)
}


/* GJØRE VISIT BILDE RESPONSIVT*/
@media (min-width: 600px) {
    .img-visit {
        height: 350px;
        width: 600px;
        object-fit: cover
    }
}

@media (min-width: 900px) {
   .img-visit {
       height: 350px;
       width: 900px;
       object-fit: cover
    }
}

@media (min-width: 1041px) {
    /* Gjøre meny responsiv*/
   header {
       justify-content: start;
   }

   nav {
       display: block;
       position: static;
   }

   nav li {
       display: inline-block;
       padding: 0px;
   }

   header label {
       display: none;
   }

   /* MAIN CONTENT responsiv*/
   .front-image {
    background-image: url('/semesterimages/bakgrunntest.jpg');
    background-size: cover;
    filter: brightness(50%);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    min-height: 50vh;
}

/* Flytte tekst i bakgrunnsbilde mot midten*/
.front-text {
    top: 38%;
}

   .explore-part,
   .getinvolved-part { /* flexe bildene og sette maks bredde*/
    flex: 33.33%;
    max-width: 400px;
   }

      /* Gjøre footer responsiv: */
      footer {
        display: grid;
        grid-template-rows: auto;
        min-height: 260px;
    }
 
    .museum-footer {
        display: grid;
        grid-template-columns: 333.33px 333.33px 333.33px;
    }

    .footer-newsletter {
        display: flex;
    }
}